*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
hr{
    width: 100vw;
    height: 3px;
    background-color: #000;
}
/* body{background-color: black; */
    
    /* height: 100vh;
    background: linear-gradient(
        to bottom,
        black 0%,
        grey 100%
    ); */

.logo{
    margin: 20px;
    font-weight: 600;
    color: rgb(190, 62, 62);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    
    width: 100vw;
    max-height: 20%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    
}
.main-nav{
    margin: 20px;
    padding: 10px;
    word-spacing: 20px;
}
.main-nav a{
    color: #000;
    font-weight: 00;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.main-nav a:hover{
    color: rgb(167, 82, 2);
    text-decoration: underline;
    font-size: 1.2rem;
}
.content{
    width: 100vw;
    overflow-x: auto;
    display: flex;
    gap: 0;
}
.content::-webkit-scrollbar{
    display: none;
}
.slide-img{
    display: flex;
    animation: spin 20s infinite linear both running ;
}
.Image{
    display: flex;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.flip img{
    /* height: auto; */
    /* width: 100%; */
    /* -webkit-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
    padding-left: 10%;
    width: 70%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.Brand{  
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box:hover{
    
    filter: invert();
    box-shadow: 0 0 25px #060000;
}
.box{
    background-color: white;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 18vw;
}  

.brand-logo{  
    width: 18vw; 
    
 
} 
footer{
    width: 100vw;
    height: 100vh;
    background-color: #e7e8e8;
    justify-content: center;
    display: flex;
    
}
.foot-box{
    width: 70vw;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    /* border: 2px solid #000;
    width: 100vw;
    height: 40vh; */
    display: flex;
    
}
.foot-note{
    
    margin: 20px;
}
h4{
    color: #000;
    font: 1em sans-serif;
    
    width: 20vw;
}
.foot-note ul{
    padding-top: 10px;
    width: 10vw;
    color: rgb(135, 137, 138);
    
}
.foot-note ul:hover{
    color: rgb(90, 90, 91);
}
.foot-img1{
    width: 10vw;
}
.foot-img2{
    width: 9vw;
}

@media only screen and (min-width: 400px)
{
    .navbar a{
        font-size: auto;
    }
}